<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="OpenTK" version="3.0.1" targetFramework="net48" />
  <package id="OpenTK.GLControl" version="3.0.1" targetFramework="net48" />
  <package id="RedCorners" version="5.0.0" targetFramework="net48" />
  <package id="RedCorners.Forms" version="5.39.0" targetFramework="net48" />
  <package id="WindowsAPICodePack-Core" version="1.1.1" targetFramework="net48" />
  <package id="WindowsAPICodePack-Shell" version="1.1.1" targetFramework="net48" />
  <package id="Xamarin.Forms" version="4.3.0.991221" targetFramework="net48" />
  <package id="Xamarin.Forms.Platform.WPF" version="4.3.0.991221" targetFramework="net48" />
</packages>