<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Newtonsoft.Json" version="13.0.2" targetFramework="net48" />
  <package id="OpenTK" version="3.1.0" targetFramework="net48" />
  <package id="OpenTK.GLControl" version="3.1.0" targetFramework="net48" />
  <package id="RedCorners" version="6.0.0" targetFramework="net48" />
  <package id="RedCorners.Components.ObjectStorage" version="6.5.0" targetFramework="net48" />
  <package id="RedCorners.Forms" version="6.41.0" targetFramework="net48" />
  <package id="WindowsAPICodePack-Core" version="1.1.2" targetFramework="net48" />
  <package id="WindowsAPICodePack-Shell" version="1.1.1" targetFramework="net48" />
  <package id="Xamarin.Forms" version="4.4.0.991537" targetFramework="net48" />
  <package id="Xamarin.Forms.Platform.WPF" version="4.4.0.991537" targetFramework="net48" />
</packages>